*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*{
  img {
    max-width: 100%;
  }
}
:root {
  --bg-color: rgb(18, 27, 37);
  --accent-color: #1aa090;
  --text-color: #d6d6d6;
}
ul {
  list-style: none;
}

body {
  background: var(--bg-color);
  font-family: "Work Sans", sans-serif;
  color: #fff;
  &._lock {
    overflow: hidden;
  }
}

[class*="__container"] {
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 15px;
}
/*---------------General---------------*/
.text {
  font-weight: 400;
  font-size: 18px;
  color: var(--text-color);
  line-height: 1.7;
}
.title {
  font-weight: 600;
  font-size: clamp(1.875rem, 1.548rem + 1.64vw, 3rem);
  line-height: 1.26;
  text-transform: capitalize;
  color: #fff;
}
.link {
  display: inline-block;
  margin-top: 45px;
  padding: 22px 42px;
  background-color: var(--accent-color);
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  font-size: 24px;
  text-transform: capitalize;
  transition: background-color .2s;
  @media(any-hover:hover) {
    &:hover {
      background-color: #15786c;
    }
  }
}
section {
  z-index: 5;
  position: relative;
}
/*---------------/General---------------*/

/*---------------Header---------------*/
.header {
  // .header__container
  padding: clamp(1.25rem, 0.886rem + 1.82vw, 2.5rem) 0;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .header__logo

  &__logo {
    max-width: 200px;
  }

  // .header__navigation

  &__navigation {
    display: flex;
    align-items: center;
    gap: clamp(1.25rem, -2.799rem + 8.44vw, 4.688rem);
  }

  // .header__buttons

  &__buttons {
    display: flex;
    gap: 5px;
  }

  // .header__btn

  &__btn {
    padding: 11px 20px;
    color: #fff;
    background-color: transparent;
    border: 1px solid var(--accent-color);
    transition: background-color .2s;
    cursor: pointer;
    @media(max-width: 576px) {
      padding: 7px 15px;
    }
  }
}
.menu {
  // .menu__body
  @media(max-width: 992px) {
    position: absolute;
    top: 0;
    left: -110%;
    height: 100vh;
    width: 100vw;
    display: flex;
    overflow: auto;
    background-color: var(--accent-color);
    padding: 20px 0;
    transition: left .2s;
  }
  &._active {
    left: 0;
    z-index: 30;
  }
  &-icon {
    display: none;
    position: fixed;
    z-index: 35;
    @media(max-width: 992px) {
      display:block;
      height: 18px;
      width: 30px;
      position: relative;
      cursor: pointer;
      
      span {
        transition: all .3s ease 0s;
        top: calc(50% - 1px);
        left: 0;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
        &:first-child {
          top: 0;
        }
        &:last-child {
          top: auto;
          bottom: 0;
        }
      }
      &._active {
        span {
          transform: scale(0);
          &:first-child {
            transform: rotate(-45deg);
            top: calc(50% - 1px);
            
          }
          &:last-child {
            transform: rotate(45deg);
            bottom: calc(50% - 1px);
          }
        }
      }
    }
  }
  &__body {
    display: flex;
    align-items: center;
    gap: 40px;
    @media(max-width: 992px) {
      flex-direction: column;
      margin: auto;
    } 
    
  }
  // .menu__link

  &__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    color: var(--text-color);
    text-decoration: none;
    transition: color .3s;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 0;
      right: 0;
      width: 100%;
      background-color: var(--accent-color);
      height: 3px;
      opacity: 0;
      visibility: hidden;
      transition: opacity .2s;
    }
    @media(any-hover:hover) {
      &:hover{
        color: #fff;
        &::before{
          opacity: 1;
          visibility: visible;
        }
      }
    }
    @media(max-width: 992px) {
      line-height: 50px;
      font-size: 30px;
    }
  }
}
.login {  
  @media(any-hover) {
    &:hover{
      background-color: var(--accent-color);
    }
  }
  @media(max-width: 425px) {
    display: none;
  }
}
.register {
  
  background-color: var(--accent-color);
  @media(any-hover) {
    &:hover {
      background-color: transparent;
    }
  }
}
/*---------------/Header---------------*/

/*---------------Hero---------------*/
.hero {
  margin-top: clamp(1.875rem, 1.057rem + 4.09vw, 4.688rem);
  padding-bottom: clamp(1.25rem, -0.023rem + 6.36vw, 5.625rem);
  position: relative;
  // .hero__container
  .hero-deco {
    position: absolute;
    bottom: -150px;
    right: 0;
    z-index: -1;
    @media(max-width: 576px) {
      height: 300px;
    }
  }
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media(max-width: 992px) {
      flex-direction: column;
    }
  }

  // .hero__content

  &__content {
    flex: 0 0 calc(700px / 1420px) * 100%;
    margin-bottom:clamp(0.625rem, -2.102rem + 13.64vw, 10rem);
  }

  // .hero__title

  &__title {
    font-weight: 600;
    font-size: clamp(2.5rem, 1.991rem + 2.55vw, 4.25rem);
    line-height: 1.26;
    text-transform: capitalize;
  }
  // .hero__filter

  &__filter {
    height: 100px;
    width: 880px;
    background-color: #fff;
    margin-top: 60px;
    position: absolute;
    z-index: 5;
    @media(max-width: 992px) {
      width: 100%;
      position: static;
    }
  }
  // .hero__img

  &__img {
    flex: 00 calc(700px / 1420px * 100%);
    @media(min-width: 768px) and (max-width: 992px) {
      display: none;
    }
  }
}
/*---------------/Hero---------------*/

/*---------------Filter---------------*/
.filter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 165px;
  color: #000;
  @media (max-width: 576px) {
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    height: auto;
  }
  @media(max-width: 475px) {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  // .filter__block

  &__block {
    &:nth-child(2) {
      border-right: 1px solid #e8e8e8;
      border-left: 1px solid #e8e8e8;
    }
  }

  // .filter__btn

  &__btn {
    padding: 5px;
    button {
      cursor: pointer;
      background-color: var(--accent-color);
      height: 100%;
      width: 100%;
      border: none;
      font-weight: 500;
      font-size: 24px;
      text-transform: capitalize;
      color: #fff;
      padding: 10px;
      &:active {
        background-color: #158073;
      }
    }
    @media (max-width: 576px)  and (min-width:475px){
      grid-column: 1/4;      
      
      padding:clamp(1.25rem, 0.886rem + 1.82vw, 2.5rem);
      
    }
  }
}
.block-filter {
  position: relative;
  // .block-filter__button

  &__button {
    display: flex;
    justify-content: center;  
    flex-direction: column;
    height: 100%;
    padding-left: clamp(1.25rem, 0.886rem + 1.82vw, 2.5rem);
  }

  // .block-filter__header

  &__header {
    display: flex;
    align-items: center;
  }

  // .block-filter__type

  &__type {
    padding-right: 2px;
    font-size: 16px;
    color: #858585;
  }

  // .block-filter__icon

  &__icon {
    width: 10px;
    height: 7px;
    background: url('../img/icons/arrow-dropdown.svg') right center no-repeat;
    transition: transform .2s;
    &._active {
      transform: rotate(180deg);
    }
  }

  // .block-filter__value

  &__value {
    color: var(--bg-color);
    font-weight: 600;
    font-size: 18px;
  }

  // .block-filter__dropdown

  &__dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all .2s;
    z-index: 3;
    box-shadow: 0 0 2px 5px #747474;
    &._active {
      opacity:1;
      visibility: visible;
      pointer-events: all;
      transform: translateY(5px);
    }
  }

  // .block-filter__item

  &__item {
    padding: 10px;
    transition: background-color .2s;
    text-transform: capitalize;
    @media(any-hover: hover) {
      &:hover {
        background-color: #adadad;
        cursor: pointer;
      }
    }
  }
}
/*---------------/Filter---------------*/

/*---------------Featured---------------*/
.featured {
  padding-top: clamp(1.25rem, -0.023rem + 15.36vw, 5.625rem);
  padding-bottom: clamp(1.875rem, -0.852rem + 13.64vw, 11.25rem);
 

  // .featured__box

  &__box {
    margin-top: clamp(1.875rem, 1.42rem + 2.27vw, 3.438rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
    gap: 30px;
  }

  // .featured__item

  &__item {
    flex: 0 0 auto;
        // .featured___img
  }

}
/*---------------/Featured---------------*/

/*---------------Popular---------------*/
.popular {
  padding: clamp(1.875rem, -0.489rem + 11.82vw, 10rem) 0;
  background: #1A242F url('../img/popular-bg.png') center center/ cover no-repeat;

  // .popular__slider

  &__slider {
    margin-top: 40px;
    position: relative;
  }

  &__link {
    text-align: center;
    margin-top: 65px;
  }
}
.popular-slide {
  display: flex;
  flex-direction: column;
  gap: 27px;
  @media(max-width: 660px) {
    text-align: center;
  } 

  // .popular-slide__title

  &__title {
    font-weight: 600;
    font-size: 26px;
    line-height: 1.26;
    letter-spacing: .01rem;
    text-transform: capitalize;
  }

  // .popular-slide__labels

  &__labels {
    display: flex;
    gap: 20px;
    @media(max-width: 660px) {
      justify-content: center;
    }
  }

  // .popular-slide__label

  &__label {
    display: flex;
    align-items: center;
    gap: 4px;
    flex-wrap: wrap;
  }
}
.swiper {
  overflow: hidden;
}
.swiper-wrapper {
  display: inline-flex;
}
.slider-buttons {
  position: absolute;
  top: 30%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  @media(max-width: 1800px) {
    top: -100px;
    right: 0;
    width: auto;
    gap:10px;
  }

}
.popular-slider-btn-prev {
  background: url('../img/icons/slider/arr.svg') center center  no-repeat;
  position: absolute;
  left: -10%;
  
}
.popular-slider-btn-next {
  background: url('../img/icons/slider/arr-right.svg') center center no-repeat;
  position: absolute;
  right: -10%;
}
.popular-slider-btn {
  width: 78px;
  height: 78px;
  border-radius: 50%;
  border: 1px solid #fff;
  cursor: pointer;
  @media(max-width: 660px) {
    display: none;
  }
}
@media(max-width: 1800px) {
  .swiper-button-prev,
  .swiper-button-next {
    position: static;
  }
}
/*---------------/Popular---------------*/

/*---------------Choose---------------*/
.why {
  padding-top: clamp(1.875rem, -0.489rem + 11.82vw, 10rem);
  padding-bottom:clamp(1.875rem, 0.693rem + 5.91vw, 5.938rem);
  position: relative;
  z-index: 5;

  // .why__title

  &__title {
    text-align:center;
  }

  // .why__body

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: clamp(1.25rem, 0.705rem + 10vw, 3.125rem);
    margin-top: clamp(1.875rem, 1.33rem + 2.73vw, 3.75rem);
    @media(max-width: 768px) {
      flex-direction: column;
    }
  }
}
.item-why {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  flex: 0 0 calc(376px / 1420px * 100%);
  // .item-why__img

  &__img {
    width: clamp(6.25rem, 4.795rem + 7.27vw, 11.25rem);
    aspect-ratio: 1 ;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: clamp(1.563rem, 1.362rem + 1vw, 2.25rem);
    &:before {
      content: '';
      width: 100%;
      height: 100%;
      border-radius: 50%;
      display: block;
      position: absolute;
      background-color: var(--accent-color);
      opacity: 0.12;
    }
    svg{
      width: 40%;
      height: 40%
    }
   
  }

  // .item-why__title

  &__title {
    font-weight: 600;
    font-size: 26px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
  }

  // .item-why__text

  &__text {
    margin-top: 10px;
  }
}
/*---------------/Choose---------------*/

/*---------------Reviews---------------*/
.reviews {
  padding-bottom: clamp(1.875rem, -0.852rem + 13.64vw, 11.25rem);
  position: relative;
  z-index: 1;
  .reviews__deco {
    position: absolute;
    top: -300px;
    left: -20%;
    z-index: -5;
    height: 760px;
    background-color: var(--bg-color);
    @media(max-width: 375px) {
      width: 300px;
    }
  }
 .swiper-wrapper {
  align-items: flex-start;
 }
  // .reviews__container

  &__container {
    max-width: 1020px;
    margin: 0 auto;
    position: relative;
    padding-top: 195px;
  }

  // .reviews__quotes

  &__quotes {
    position: absolute;
    top: 0;
    left: 0;
    
    font-size: 260px;
    line-height: 1.47;
    color: var(--accent-color);
    font-family: Montseratt;
    text-transform: capitalize;
  }
}

.reviews-slider {

  // .reviews-slider__text

  &__text {
    font-size: clamp(1.25rem, 1.032rem + 1.09vw, 2rem);
    line-height: 1.57;
    text-transform: capitalize;
    color: #fff;
  }

  // .reviews-slider__info

  &__info {
    margin-top: 40px;
  }

  // .reviews-slider__name

  &__name {
    font-weight: 600;
    font-size: 22px;
    letter-spacing: .01em;
    text-transform: capitalize;
  }

  // .reviews-slider__buttons

  &__buttons {
    height: 60px;
    display: flex;
    align-items: center;
    gap: 70px;
    width: 115px;
    position: absolute;
    bottom: 0;
    right: 15px;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      background: #353f49;
      width: 1px;
    }
  }
}
.reviews-slider-btn {
  svg{fill: #fff;}
  cursor: pointer;
}

.swiper-button-disabled {
  svg{fill: #6b6868;}
}
/*---------------/Reviews---------------*/

/*---------------Gallery---------------*/
.gallery {
  background: linear-gradient(270deg,#1A242F 0.01%, rgba(26, 36, 47, 0) 82.97%);
  padding: clamp(1.875rem, -0.489rem + 11.82vw, 10rem) 0;
  // .gallery__container

  &__container {
    display: flex;
    align-items: center;
    gap: 63px;
    @media(max-width: 992px) {
      flex-direction: column;
      justify-content: center;
      text-align: center;
      .gallery__title {
        margin: 0 auto;
        margin-bottom: 10px;
      }
    }
  }

  // .gallery__box

  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 720px;
    @media(max-width: 992px) {
      width: 100%;
    }
  }

  // .gallery__item

  &__item {
    flex: 0 0 49%;
    //max-width: 320px;
    aspect-ratio: 7/11;
    img {
      height: 100%;
      object-fit: cover;
    }
  }

  // .gallery__info

  &__info {
    flex: 0 0 49%;
  }

  // .gallery__title

  &__title {
    max-width: 520px;
    
  }

  // .gallery__text

  &__text {
    margin-bottom: 22px;
  }
 
}
/*---------------/Gallery---------------*/


/*---------------Begin---------------*/
.begin {
  padding: clamp(1.25rem, -1.659rem + 14.55vw, 11.25rem) 0;
  
  .begin-wave {
    position: absolute;
    bottom: -250px;
    z-index: -1;
    left: 0;
    @media(max-width: 475px) {
      width: 300px;
    }
  }
  .begin-rect {
    position: absolute;
    right: 0;
    top: -77px;
    z-index: 10;
    @media(max-width: 475px) {
      display: none;
    }

  }
  // .begin__container

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    max-width: 1240px;
    @media(max-width: 768px) {
      flex-direction: column;
      text-align: center;
    }
  }

  // .begin__slogan

  &__slogan {
    font-weight: 600;
    font-size: clamp(1.875rem, 1.184rem + 3.45vw, 4.25rem);
    line-height: 1.26;
    text-transform: capitalize;
    
  }

  // .begin__content

  &__content {
    flex: 0 0 50%;
  }

  // .begin__link

  &__link {
    margin-top: 50px;
  }
}
/*---------------/Begin---------------*/

/*---------------Footer---------------*/
.footer {
  background-color: #1a242f;
  position: relative;
  z-index: 5;
  padding-top: clamp(1.25rem, -0.932rem + 10.91vw, 8.75rem);
  
  // .footer__container

  // .footer__main

  &__main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap:clamp(1.25rem, -16.607rem + 28.57vw, 8.75rem); 
    padding-bottom: clamp(1.25rem, -0.023rem + 6.36vw, 5.625rem);
    @media(max-width: 992px) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media(max-width: 600px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
  }

  // .footer__block

  &__block {
    @media(max-width: 992px) {
      grid-column: 1/5;
      &:not(:first-child) {
        grid-row: 2/3;
        grid-column: auto;
      }
    }
  }

  // .footer__text

  &__text {
    
    margin: 22px 0 32px;
    @media(min-width: 992px) {
      width: 340px;
    }
  }

  // .footer__socials

  &__socials {
    display: flex;
    align-items: center;
    gap: 30px;
    @media(max-width:600px) {
      justify-content: center;
    }
  }

  // .footer__social

  &__social {
   text-decoration: none;
   svg {
    fill: #555E68;
    transition: fill .2s
   }
   @media(any-hover: hover) {
    &:hover {
      svg {
        fill: #fff;
      }
    }

   }
  }



  .copyright-footer {
    border-top: 1px solid #303A44;
    padding: 15px 0;
		// .copyright-footer__container

		&__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width:690px) {
        flex-direction: column;
        gap: 30px;
        text-align: center;
      }
		}
}
.links-footer {

  // .links-footer__list

  &__header {
    font-weight: 600;
    font-size: 26px;
    line-height: 1.26;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    margin-bottom: 11px;
  }

  // .links-footer__link

  &__link {
    text-decoration: none;
    transition: color .2s;
    white-space: nowrap;
    @media(any-hover:hover) {
      &:hover {
        color: #fff;
      }
    }
  }
}
}



/*---------------/Footer---------------*/